/* Reset */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
header {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: #ffba00;
}

nav ul li a.btn {
  background-color: #0056a6;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

nav ul li a.btn:hover {
  background-color: #ea4f4f;
  transform: scale(1.05);
}

/* Hero Section */
.hero {
  position: relative;
  min-height: 100vh; /* Tinggi minimum 100% viewport */
  display: flex;
  justify-content: center; /* Memusatkan konten secara horizontal */
  align-items: center; /* Memusatkan konten secara vertikal */
  text-align: center;
  background-clip: ;
  background-size: cover; /* Gambar memenuhi elemen */
  background-position: center; /* Gambar di tengah */
  background-repeat: no-repeat;
}

.hero-content {
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: white;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: white;
}

.cta-btn {
  background-color: #0056a6;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-btn:hover {
  background-color: #004080;
  transform: scale(1.05);
}

.main {
  text-align: center;
  align-items: center;
}

.main .main-content h1 {
  color: #ffba00;
}

.beranda h1 {
  color: #ffba00;
}
.beranda {
  text-align: center;
  background: linear-gradient(#1fbaff, #75ff95);
  justify-content: center;
  margin-top: 50px;
}
.Hero-sejarah {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/images/Peta\ indoensia\ kuno\ 1.png");
  background-size: cover;
  position: relative;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.Sejarah-maritim {
  background: linear-gradient(#ffff, #47c5ff);
  text-align: center;
  justify-content: center;
  min-height: auto;
}
.sejarah .sejarah-content {
  text-align: center;
  justify-content: center;
}
.Sejarah-maritim .Maritim-content h1 {
  color: #1fbaff;
}

.budayaTradisi {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/images/Budaya\ Background\ 1.png");
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.galeri {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/images/Sikuai\ Island\,\ Padang\ 1.png");
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
